[main]
enabled=1
debug=1
readaloud=1
trygoogle=1
head= wget -q -U Mozilla 
tail= .mp3 
end=Thats all for now.  Have a nice day.  
light=0
lightdelay=0
music=0
musicfldr=/Music

[greeting]
enabled=1
name=Conor

[birthday]
enabled=0

[news]
enabled=0

[weather_yahoo]
enabled=0
location=725746
metric=0
# Change units to Imperial by changing metric=0
wind=1
# wind is available only with metric
wind_chill=1
# default set from November - March

[surf_report]
enabled=1
#location=725746
#metric=0
# Change units to Imperial by changing metric=0
#wind=1
# wind is available only with metric
#wind_chill=1
# default set from November - March




